.site-header{
    background-color:rgb(29, 139, 95);
    color: rgb(252, 250, 250);
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.site-header-content{
margin: 10px;

}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: black, 2px, 5px, 5px;
}

.course-link {
    color: rgb(252, 250, 250);
}


body{
    margin: 0%;
}